#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  font-family: Monaco;
  font-size: 24px;
  color: coral;
  --borderwhite: none;
}

#app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.page {
  scroll-snap-align: start;


  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 100vh;
  width: 100vw;
  border: 1px solid var(--borderwhite);
}


.question-me{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
}

.question-me > *{
  border: 1px solid var(--borderwhite);
  width: 100%;
}

.slider-comp{
  padding: 1em;
  min-width: 50px;
}

.thank-you-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}





/* //////////////////////// */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
