#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  font-family: Monaco;
  font-size: 24px;
  color: coral;
  --borderwhite: white;

  --colorgris: #3B3B3B;
  --colorrojo: #FAA987;
  --colorblanco: #FFFCF2;
  --colorazul: #395463;
  --colorverde: #BFD689;


  --fontsmall: 14px;
  --fontsmallmed: 18px;
  --fontbig: 42px;
}

#app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.page {
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 100vh;
  width: 100vw;
  border: 1px solid var(--borderwhite);
}

.banner {
  background: url('assets/banner.jpeg');
  background-size: cover;
  width: 100vw;
  height: 80vh;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--colorblanco);
  font-size: var(--fontbig);
}

.icon-d{
  border: 1px solid var(--borderwhite);
  height: 240px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  padding: 4em;
}

.icon-d-top{
  margin-bottom: 2em;
}

.icon-d-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.icon-component{
  /* border: 1px solid var(--borderwhite); */
  width: 220px;
}

.icon-description{
  font-size: var(--fontsmall);
}










.navbar-mini {
  /* border: 1px solid var(--borderwhite); */
  width: 100vw;
  height: 24px;

  display: flex;
  justify-content: space-around;
  padding: 2px 0;
  font-size: var(--fontsmallmed);
  background-color: var(--colorrojo);
  color: var(--colorblanco);
}

.navbar-main {
  height: 48px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  background-color: var(--colorblanco);
  color: var(--colorgris)
}

.navbar-menu {
  display: flex;
  flex-direction: row;
}

.navbar-menu div {
  margin: 0px 10px;
}
.navbar-menu div:hover {
  background-color: var(--colorrojo);
  cursor: pointer;
}

.question-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 0;
}

.question-me>* {
  border: 1px solid var(--borderwhite);
  width: 100%;
}

.slider-comp {
  padding: 1em;
  min-width: 50px;
}

.thank-you-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}





/* //////////////////////// */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}